.taro_router {
  width: 100%;
  height: 100%;
}

.taro_page {
  width: 100%;
  height: 100%;
}

.common-modal {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 200;
  flex: 1;

  .main {
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .at-row {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #6DAAFA;
      border-bottom: 1px solid #8e8c8c36;
      min-height: 80px;
      width: 100%;

      .title-row {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 10px;

        .at-icon {
          display: flex;
          align-items: center;
        }
      }

      .at-col {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .title {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 400;
      }
    }

    .sub-title {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      min-height: 80px;
    }

    .content {
      display: flex;
      flex: 1;
      text-align: left;
      font-size: 30px;
      max-height: 80%;
      min-height: 20%;
      padding: 10px 20px 50px 20px;

      .content-scroll {
        display: flex;
        flex: 1;
      }
    }

    .btn-view {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 80px;
      border-top: 1px solid #8e8c8c36;

      .cancel-btn {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 0 10px;
        border:0;
        border-right: 1px solid #8e8c8c36;
      }

      .confirm-btn {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 10px 0;
        border:0;
      }
    }

    .no-cancel-confirm-btn {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 10px 10px;
      border: 0;
    }
  }
}
